# Task  2  1-10

# Qst -1

Create a tuple my_tuple with the values 1, 2, and 3. Print the tuple.

In [1]:
my_tuple=(1,2,3)
print(my_tuple)

(1, 2, 3)

# Qst - 2

Create a set my_set with the values 1, 2, and 3. Print the set.

In [2]:
my_set={1,2,3}
print(my_set)

{1, 2, 3}

# Qst - 3

Create a dictionary my_dict with keys "apple", "banana", and "cherry" and values 1, 2, and 3. Print thedictionary.

In [14]:
my_dist={'apple':1,'banana':2,'cherry':3}

In [16]:
print(my_dist)

{'apple': 1, 'banana': 2, 'cherry': 3}

# Qst - 4

Use a for loop to print the values in my_tuple one by one

In [17]:
my_tuple=[1,2,3,4,5,6,7]

In [18]:
for i in my_tuple:
    print(i)

1
2
3
4
5
6
7

# Qst - 5

Use a for loop to print the values in my_set one by one.

In [26]:
my_set=(1,2,3,4,5,)

In [27]:
for i in my_set:
    print(i)

1
2
3
4
5

# Qst - 6

Use a for loop to print the keys and values in my_dict one by one.

In [28]:
my_dict={'abdul':27,'dhana':24,'pradeep':24,'magesh':29}
type(my_dict)

dict

In [29]:
for a,b in my_dict.items():
    print(a,b)

abdul 27
dhana 24
pradeep 24
magesh 29

# Qst - 7

Use a while loop to print the numbers from 1 to 10.

In [30]:
i = 1
while i<11:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

# Qst - 8

Use a while loop to print the even numbers from 2 to 10

In [32]:
i = 2
while i<11:
    print(i)
    i=i+2

2
4
6
8
10

# Qst - 9

Use a while loop to print the squares of the numbers from 1 to 5.

In [35]:
i = 1
while i<=5:
    print(i**2)
    i=i+1

1
4
9
16
25

# Qst - 10

Use a for loop to print the sum of the numbers in my_tuple

In [44]:
my_tuple=[1,2,3,4,5]
sum=1
for i in my_tuple:
    print(i+sum)

2
3
4
5
6